<!doctype html>
<html>
<head>
    {% include 'analytics.twig' %}
    {% include 'favicons.twig' %}

    <title>{{ page_title }} | HITMAN&trade; 2 Maps</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% if skip_viewport != 'true' %}
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="/css/site.css?v={{ constants.cacheHash }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/parsley.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-messaging.js"></script>
    {% include 'firebase-primary.twig' %}
    <script src="/js/firebase.js?v={{ constants.cacheHash }}"></script>
    {% block headextend %}
    {% endblock %}
</head>
<body style="{{ body_style }}" class="{{ body_class }}">
    {% block content %}
    {% endblock %}
    <footer class="fixed-bottom text-center" style="{{ footer_style }}">
        <div class="container text-left">
            <div class="row">
                <div class="col-sm-2">
                    <h4>Quick Links</h4>
                </div>
                <span class="footer-link">
                    <a href="https://discord.gg/eZqhZah" target="_blank">
                        <i class="fab fa-discord"></i>
                        HITMAN 2 Maps Discord
                    </a>
                </span>
                <span class="footer-link">
                    <a href="https://www.hitmanforum.com/t/interactive-maps-for-hitman-2/27897" target="_blank">
                        <i class="fas fa-comments"></i>
                        hitmanforum.com Discussion
                    </a>
                </span>
                <span class="footer-link">
                    <a href="https://hitmanstat.us" target="_blank" data-toggle="tooltip" title="Made with <3 By Hardware">
                        <i class="fas fa-user-tie"></i>
                        HITMAN&trade; Server Status
                    </a>
                </span>
                <span class="footer-link">
                    <a href="https://status.hitman2maps.com">
                        <i class="fas fa-shield-check"></i>
                        hitman2maps.com Server Status
                    </a>
                </span>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h4>Legal</h4>
                </div>
                <span class="footer-link">
                    <a href="/terms-of-use">
                        <i class="fas fa-gavel"></i>
                        Terms of Use
                    </a>
                </span>
                <span class="footer-link">
                    <a href="/privacy-policy">
                        <i class="fas fa-user-secret"></i>
                        Privacy Policy
                    </a>
                </span>
            </div>
            <div class="row text-center">
                <div class="col">
                    <h4>&copy; {{ constants.currentYear }} hitman2maps.com</h4>
                    <p>HITMAN™, HITMAN™ 2, the HITMAN™ logo, images, and text are the property of IO Interactive.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>