{% extends 'base.twig' %}

{% set page_title = 'Home' %}
{% set body_style = "background: url('#{settings.cdnLocation}/#{model.jpgBackgroundFileExtension}/backgrounds/loading.#{model.jpgBackgroundFileExtension}') no-repeat center center fixed; background-size: cover" %}
{% block headextend %}
    <meta name="description" content="Interactive Maps for HITMAN&trade; 2 allows you to view item locations for all maps in HITMAN&trade; and HITMAN&trade; 2">
{% endblock %}
{% block content %}
    <header class="row">
        <div class="col text-center site-header">
            <h1>Interactive Maps For</h1>
            <img src="{{ settings.cdnLocation }}/{{ model.pngBackgroundFileExtension }}/logos/hitman2.{{ model.pngBackgroundFileExtension }}" class="img-fluid">
        </div>
    </header>
    <div class="row dashboard">
        {% for game in model.games %}
            <div class="game col-lg" style="background: url('{{ settings.cdnLocation }}/{{ model.jpgBackgroundFileExtension }}/backgrounds/{{ game.slug }}.{{ model.jpgBackgroundFileExtension }}') no-repeat center; background-size: cover">
                <a href="/games/{{ game.slug }}">
                    <p>&nbsp;</p>
                    <div class="game-info">
                        <div class="image">
                            <img src="/img/game-icons/campaign.png" class="normal img-fluid" alt="Campaign Icon">
                            <img src="/img/game-icons/campaign-inverted.png" class="inverted img-fluid" alt="Campaign Icon">
                        </div>
                        <div class="text">
                            <h2>Campaign</h2>
                            <h1>{{ game.fullName }}</h1>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if model.elusiveTarget != null %}
        <div class="elusive-target col-lg" style="background: url('{{ settings.cdnLocation }}/jpg{{ model.elusiveTarget.imageUrl }}.jpg') no-repeat center; background-size: cover">
            <a href="{{ model.elusiveTargetUrl }}">
                <p>&nbsp;</p>
                <div class="countdown">
                    <img src="/img/game-icons/elusive-target-reminaing-time.png">
                    <div class="timer">
                        <div class="target-arrives">TARGET ARRIVES</div>
                        <div id="elusive-countdown"></div>
                    </div>
                    <img src="/img/game-icons/briefing-transparent.png" class="normal img-fluid briefing-icon float-right" alt="Briefing Icon"
                         data-placement="left"
                         data-toggle="tooltip"
                         title="Mission Briefing">
                </div>
                <div class="elusive-target-info">
                    <div class="image">
                        <img src="/img/game-icons/elusive-target.png" class="normal img-fluid" alt="Elusive Target Icon">
                        <img src="/img/game-icons/elusive-target-inverted.png" class="inverted img-fluid" alt="Elusive Target Icon">
                    </div>
                    <div class="text">
                        <h2>Elusive Target</h2>
                        <h1>{{ model.elusiveTarget.name }}</h1>
                    </div>
                    <div class="image float-right notification-icon" data-placement="left" data-toggle="tooltip" title="Manage Elusive Target Notifications">
                        <img src="/img/game-icons/notification.png" class="normal img-fluid" alt="Notification Icon">
                        <img src="/img/game-icons/notification-inverted.png" class="inverted img-fluid" alt="Notification Icon">
                    </div>
                </div>
            </a>
        </div>
        <script>
            var playable = {% if model.elusiveTarget.playable %}true{% else %}false{% endif %};
            var expirationUtc = moment.utc('{{ model.elusiveTarget.endingTime|date('Y-m-d H:i:s') }}');
            var beginningUtc = moment.utc('{{ model.elusiveTarget.beginningTime|date('Y-m-d H:i:s') }}');

            var countdown = setInterval(function() {
                var $countdown = $('#elusive-countdown');

                var currentUtc = moment.utc();
                var difference = undefined;

                if (playable) {
                    difference = expirationUtc.diff(currentUtc);
                } else {
                    difference = beginningUtc.diff(currentUtc);
                    $('.timer').addClass('not-playable');
                }

                if (difference <= 0) {
                    if (playable) {
                        $countdown.text('Ended');
                        clearInterval(countdown);
                        return;
                    }

                    playable = true;
                    $('.timer').removeClass('not-playable');
                    return;
                }

                var duration = moment.duration(difference);
                var days = undefined;

                if (playable) {
                    days = expirationUtc.diff(currentUtc, 'days');
                } else {
                    days = beginningUtc.diff(currentUtc, 'days');
                }

                if (days > 2) {
                    $countdown.text(days + ' DAYS');
                } else {
                    var hours = duration.hours();
                    var minutes = getFormattedDuration(duration.minutes());
                    var seconds = getFormattedDuration(duration.seconds());
                    if (days > 0) {
                        hours += days * 24;
                    }
                    hours = getFormattedDuration(hours);

                    $countdown.text(hours + ':' + minutes + ':' + seconds);
                }
            }, 1000);

            function getFormattedDuration(duration) {
                if (duration < 10) {
                    return '0' + duration;
                }

                return duration;
            }
        </script>
        <div class="modal game-modal fade" id="briefing-modal" tabindex="-1" role="dialog" aria-labelledby="briefing-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="briefing-modal-label">{{ model.elusiveTarget.name }}</h5>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <div class="row">
                            {% if model.elusiveTarget.videoBriefingUrl != null %}
                                <div class="col-xl">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src="{{ model.elusiveTarget.videoBriefingUrl }}"
                                                class="embed-responsive-item"
                                                frameborder="0"
                                                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-xl">
                                <p>{{ model.elusiveTarget.briefing | raw }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">
                            <img src="/img/game-icons/modal-close.png" class="normal img-fluid" alt="Notification Icon">
                            <img src="/img/game-icons/modal-close-inverted.png" class="inverted img-fluid" alt="Notification Icon">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
            <script>
                $('.briefing-icon').click(function(e) {
                    $('#briefing-modal').modal('show');

                    return false;
                });

                $('#briefing-modal').on('hidden.bs.modal', function (e) {
                    $frame = $('#briefing-modal').find('iframe');
                    $frame.attr('src', $frame.attr('src'));
                });
            </script>
        {% else %}
            <div class="elusive-target col-lg" style="background: url('{{ settings.cdnLocation }}/{{ model.jpgBackgroundFileExtension }}/elusive-targets/coming-soon.{{ model.jpgBackgroundFileExtension }}') no-repeat center; background-size: cover">
                <a href="#">
                    <p>&nbsp;</p>
                    <div class="elusive-target-info">
                        <div class="image">
                            <img src="/img/game-icons/elusive-target.png" class="normal img-fluid" alt="Elusive Target Icon">
                            <img src="/img/game-icons/elusive-target-inverted.png" class="inverted img-fluid" alt="Elusive Target Icon">
                        </div>
                        <div class="text">
                            <h2>Elusive Target</h2>
                            <h1>Coming Soon</h1>
                        </div>
                        <div class="image float-right notification-icon" data-placement="left" data-toggle="tooltip" title="Manage Elusive Target Notifications">
                            <img src="/img/game-icons/notification.png" class="normal img-fluid" alt="Notification Icon">
                            <img src="/img/game-icons/notification-inverted.png" class="inverted img-fluid" alt="Notification Icon">
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="modal game-modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="notification-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="notification-modal-label"><span class="badge badge-pill badge-warning" style="border-radius: 0; font-size: 1.3rem">BETA</span> Manage Notifications</h5>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <div id="checking-notification-status">
                            <h6>Checking to see if notifications are enabled on this device...</h6>
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div id="notifications-unsupported" style="display: none">
                            <h6>Unfortunately, notifications are not supported on this device. Please try to enroll using a supported device.</h6>
                            <ul>
                                <li>iOS
                                    <ul>
                                        <li><a href="https://itunes.apple.com/us/app/google-chrome/id535886823?mt=8">Google Chrome</a></li>
                                        <li><a href="https://itunes.apple.com/us/app/firefox-web-browser/id989804926?mt=8">Firefox</a></li>
                                        <li><a href="https://itunes.apple.com/us/app/opera-touch-web-browser/id1411869974?mt=8">Opera</a></li>
                                        <li><a href="https://itunes.apple.com/us/app/brave-browser-fast-adblocker/id1052879175">Brave</a></li>
                                    </ul>
                                </li>
                                <li>Android
                                    <ul>
                                        <li><a href="https://play.google.com/store/apps/details?id=com.android.chrome&hl=en_US">Google Chrome</a></li>
                                        <li><a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&hl=en_US">Firefox</a></li>
                                        <li><a href="https://play.google.com/store/apps/details?id=com.brave.browser&hl=en_US">Brave</a></li>
                                    </ul>
                                </li>
                                <li>Desktop
                                    <ul>
                                        <li><a href="https://www.google.com/chrome/">Google Chrome</a></li>
                                        <li>Microsoft Edge</li>
                                        <li><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
                                        <li><a href="https://www.opera.com/computer">Opera</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="enrollment-required" style="display: none">
                            <h6>Your device is currently not set up to receive notifications. Click "Enroll" below to begin setting up your device.</h6>
                            <p id="error-container"></p>
                        </div>
                        <div id="notifications-blocked" style="display: none">
                            <h6>Your device is currently blocking notifications from hitman2maps.com. Please unblock this site from your device, refresh the page, and try to enroll your device again.</h6>
                        </div>
                        <div id="notification-settings" style="display: none">
                            <h6>Send me a notification when...</h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="elusive-target-coming" data-firebase-topic="{{ settings.loggingEnvironment }}-elusive-target-coming">
                                <label class="custom-control-label" for="elusive-target-coming">
                                    An upcoming Elusive Target is almost playable
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="elusive-target-playable" data-firebase-topic="{{ settings.loggingEnvironment }}-elusive-target-playable">
                                <label class="custom-control-label" for="elusive-target-playable">
                                    The Elusive Target arrives and becomes playable
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="elusive-target-7" data-firebase-topic="{{ settings.loggingEnvironment }}-elusive-target-7">
                                <label class="custom-control-label" for="elusive-target-7">
                                    The Elusive Target is available for 7 more days
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="elusive-target-5" data-firebase-topic="{{ settings.loggingEnvironment }}-elusive-target-5">
                                <label class="custom-control-label" for="elusive-target-5">
                                    The Elusive Target is available for 5 more days
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="elusive-target-3" data-firebase-topic="{{ settings.loggingEnvironment }}-elusive-target-3">
                                <label class="custom-control-label" for="elusive-target-3">
                                    The Elusive Target is available for 3 more days
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="elusive-target-1" data-firebase-topic="{{ settings.loggingEnvironment }}-elusive-target-1">
                                <label class="custom-control-label" for="elusive-target-1">
                                    The Elusive Target is available for 1 more day
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="elusive-target-end" data-firebase-topic="{{ settings.loggingEnvironment }}-elusive-target-end">
                                <label class="custom-control-label" for="elusive-target-end">
                                    The Elusive Target has left
                                </label>
                            </div>
                            <input type="hidden" name="firebase-token">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block btn-secondary" id="enroll-button" style="display: none">
                            <img src="/img/game-icons/modal-continue.png" class="normal img-fluid" alt="Enroll Icon">
                            <img src="/img/game-icons/modal-continue-inverted.png" class="inverted img-fluid" alt="Enroll Icon">
                            Enroll
                        </button>
                        <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">
                            <img src="/img/game-icons/modal-close.png" class="normal img-fluid" alt="Notification Icon">
                            <img src="/img/game-icons/modal-close-inverted.png" class="inverted img-fluid" alt="Notification Icon">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.notification-icon').click(function(e) {
                $('#notification-modal').modal('show');

                if (H2MAPS_FIREBASE.messagingSupported !== undefined && !H2MAPS_FIREBASE.messagingSupported) {
                    $('#notifications-unsupported').show();
                    $('#checking-notification-status').hide();
                    return false;
                }

                H2MAPS_FIREBASE.checkIfEnrolled(function(enrollmentStatus) {
                    if (enrollmentStatus === null) {
                        $('#checking-notification-status').hide();
                        $('#enrollment-required').show();
                        $('#enroll-button').show();
                    } else if (enrollmentStatus === H2MAPS_FIREBASE.RESULT.FAILURE) {
                        // Notifications are blocked
                        $('#notifications-blocked').show();
                        $('#checking-notification-status').hide();
                        $('#enroll-button').hide();
                    } else {
                        $('input[name="firebase-token"]').val(enrollmentStatus);
                        $('#checking-notification-status').hide();
                        $('#notification-settings').show();
                        updateCheckboxState();
                        $('#enroll-button').hide();
                    }
                });

                return false;
            });

            $('#enroll-button').click(function() {
                requestPermission(0);
            });

            function requestPermission(retryCount) {
                var $enrollmentRequiredDiv = $('#enrollment-required');
                if (retryCount > 5) {
                    $enrollmentRequiredDiv
                        .find('#error-container')
                        .text('Unfortunately, we were unable to receive permission from your device after five attempts. Please try again later or post a message on the HITMAN forums or on the HITMAN 2 Maps Discord via the links in the footer.');
                }

                H2MAPS_FIREBASE.requestPermission(function(result) {
                    if (result === H2MAPS_FIREBASE.RESULT.ERROR) {
                        // An unrelated error occurred. Try enrolling again.
                        $enrollmentRequiredDiv
                            .find('#error-container')
                            .text('Unfortunately, an error occurred when trying to enroll your device. You may try enrolling again by clicking the "Enroll" button.');
                        return;
                    }
                    if (result === H2MAPS_FIREBASE.RESULT.FAILURE) {
                        return requestPermission(retryCount + 1);
                    }

                    // Enrollment successful
                    $enrollmentRequiredDiv.hide();
                    $('input[name="firebase-token"]').val(result);
                    $('#notification-settings').show();
                    $('#enroll-button').hide();
                });
            }

            $('[data-firebase-topic]').click(function() {
                var $this = $(this);
                var subscribing = $this.is(':checked') ? 'SUBSCRIBING' : 'UNSUBSCRIBING';
                var token = $('input[name="firebase-token"]').val();

                $.ajax({
                    url: '/api/notifications',
                    method: 'POST',
                    data: {
                        token: token,
                        state: subscribing,
                        topic: $this.attr('data-firebase-topic')
                    },
                    beforeSend: function() {
                        $this.prop('indeterminate', true).attr('disabled', true);
                    },
                    success: function() {
                        $this.prop('indeterminate', false).attr('disabled', false);
                        toastr["success"]("Notification preferences updated!");
                        window.localStorage.setItem(token + '|' + $this.attr('data-firebase-topic'), subscribing === 'SUBSCRIBING' ? "1" : "0");
                    },
                    failure: function(err) {
                        $this.prop('checked', !(subscribing === 'SUBSCRIBING'));
                        toastr["error"]("An error occurred when trying to update your notification preferences. Please try again later.");
                    }
                });
            });

            function updateCheckboxState() {
                var topicPrefix = '{{ settings.loggingEnvironment }}';
                var topics = [
                    topicPrefix + '-elusive-target-coming',
                    topicPrefix + '-elusive-target-playable',
                    topicPrefix + '-elusive-target-7',
                    topicPrefix + '-elusive-target-5',
                    topicPrefix + '-elusive-target-3',
                    topicPrefix + '-elusive-target-1',
                    topicPrefix + '-elusive-target-end'
                ];
                var token = $('input[name="firebase-token"]').val();

                $.each(topics, function() {
                    $('input[type="checkbox"][data-firebase-topic="' + this + '"')
                        .prop('checked', (window.localStorage.getItem(token + '|' + this) === '1'));
                });
            }
        </script>
    </div>
{% endblock %}